<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

  <nav class="navbar bg-body-tertiary">

    <div class="container-fluid" >
      <a class="navbar-brand" href="#">
        <img src="" alt="" width="30" height="15" class="d-inline-block align-text-top">
        PSEUDO FULFILLMENT SYSTEM
      </a>
    </div>
  </nav>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a routerLink="/home" routerLinkActive="active" class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house"></i>Home</a>
    </li>

    <li class="nav-item dropdown">

      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Prepaid</a>

      <ul class="dropdown-menu">

        <li><a routerLink="/recharge" routerLinkActive="active" class="dropdown-item" href="#">Recharge</a></li>

        <li><a class="dropdown-item" href="#">New sim</a></li>

        <li><a class="dropdown-item" href="#">View plan</a></li>

      </ul>

      <li class="nav-item">

        <a routerLink="/login" routerLinkActive="active" class="nav-link" aria-current="page" href="#"><i class="fa-solid fa-user" ></i>Login</a>

      </li>

  </ul>

<h1></h1>

</body>

<router-outlet></router-outlet>

</html>
<router-outlet></router-outlet>
